[user]
	name = Brandon Brown
	email = afrobot@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = false
	safecrlf = true
	pager = cat

[push]
	default = current

[color]
	ui = auto
[color "branch"]
	current = green reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	st = status
	co = checkout
	cm = commit
	br = branch
	gl = log --oneline --decorate --graph
	g = log --graph --decorate --pretty=oneline --abbrev-commit --no-show-signature
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	type = cat-file -t
	dump = cat-file -p
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	clearstage = rm -r --cached

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
